body{
    background-image:linear-gradient(rgb(156, 177, 196) ,rgb(198, 145, 204));
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}
table{
    border-radius: 5%;
margin-left: 20px;
    
}
table tr td {
    height: 50px;
    width: 50px;
    padding: 5px; 
  
}
table tr td button{
    height: 50px;
    width: 50px;
    background-image: linear-gradient(rgb(216, 183, 188),lightblue);
    
}
#calculator {
    height: 50px;
    width: 250px;
    text-align: center;
    margin-top: 50px;

    
}
.calc{
    height: 400px;
    width: 300px;
    border-radius: 5%;
    border: 2px solid black;
}
#demo h1{
    text-align: center;
}